<div class="slider_controls-wrap">
    <div class="slider_scrollbar swiper-scrollbar">
    </div>
</div>
{% stylesheet %}
  .slider_controls-wrap{
      --swiper-scrollbar-bottom: 0;
      position: relative;
    }
.slider_controls-wrap .slider_scrollbar{
    --swiper-scrollbar-drag-bg-color: #000000;
    --swiper-scrollbar-size: 1px;
    --swiper-scrollbar-sides-offset: 0%;
}
{% endstylesheet %}